html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
}

/* Supaya saat diklik "Paket Penerbitan", judulnya tidak tertutup navbar yang menempel di atas */
#paket {
    scroll-margin-top: 100px;
}

/*EFEK HOVER (NAVBAR & TOMBOL)*/
.custom-nav-link {
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.custom-nav-link:hover {
    background-color: #002967;
    border: 2px solid #ffffff;
}

.paket-btn-custom {
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.paket-btn-custom:hover {
    background-color: #ffffff !important;
    color: #002967 !important;
    border: 2px solid #000000 !important;
}

.social-icon-custom:hover {
    background-color: #A8B2D1 !important;
    transform: translateY(-3px);
}

/*FOOTER GAYA MENGAMBANG (FLOATING LOGO)*/
/* Kita tetap pakai CSS untuk logo ini karena Bootstrap tidak punya kelas bawaan untuk logo setengah melompat ke atas */
.footer-logo-wrapper {
    position: absolute;
    top: -60px;
    /* Mendorong separuh lingkaran ke atas */
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.footer-logo-wrapper img {
    width: 70%;
    height: auto;
}

/*EFEK HOVER TOMBOL HERO (HUBUNGI SEKARANG)*/
.btn-hero-custom {
    background-color: #1f1681;
    color: #ffffff;
    border: 2px solid transparent;
    /* Border default transparan agar tidak lompat */
    transition: all 0.3s ease;
}

.btn-hero-custom:hover {
    background-color: #ffffff !important;
    color: #1f1681 !important;
    /* Warna teks menyesuaikan biru tombol aslinya */
    border: 2px solid #000000 !important;
    /* Border hitam sesuai permintaan */
}

/* Mengatur warna ikon WA */
.btn-hero-custom img {
    filter: brightness(0) invert(1);
    /* Kondisi awal: Ikon menjadi putih */
    transition: all 0.3s ease;
}

.btn-hero-custom:hover img {
    filter: brightness(0) !important;
    /* Kondisi saat di-hover: Ikon menjadi hitam */
}